<?xml version="1.0" encoding="utf-8" ?>

<!--********************************\
*                                   *
*  Chesslyn 2021, Xander van Doorn  *
*                                   *
\*********************************-->

<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <module
      assemblyFile="Chesslyn.Application.dll"
      moduleType="Chesslyn.Application.Modules.ApplicationModule, Chesslyn.Application, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="StudioModule"
      startupLoaded="true" />
  </modules>
</configuration>