<?xml version="1.0" encoding="utf-8" ?>

<!--**********************************\
*                                     *
*  Chesslyn © 2021, Xander van Doorn  *
*                                     *
\***********************************-->

<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <module
      assemblyFile="Chesslyn.App.Chess.dll"
      moduleType="Chesslyn.App.Chess.Modules.AppModule, Chesslyn.App.Chess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="ChessAppModule"
      startupLoaded="true" />
    <module
      assemblyFile="Chesslyn.App.Database.dll"
      moduleType="Chesslyn.App.Database.Modules.AppModule, Chesslyn.App.Database, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="DatabaseAppModule"
      startupLoaded="true" />
  </modules>
</configuration>